<h3>CAMPEONATO DE FILMES</h3>

<h2>Fase de Seleção</h2>

<p>Selecione 8 filmes que você deseja que entrem na competição e depois pressione o botão Gerar Meu Campeonato para proceguir.</p>

<p *ngIf="!_filmes"><em>Carregando...</em></p>

<p>Selecionados<br /> <strong>{{ quantidadeDeSelecionados }} de 8 Filmes</strong></p>

<button class="btn btn-primary" (click)="gerarCampeonato()">Gerar Meu Campeonato</button>

<table class='table table-striped' *ngIf="_filmes">
  <thead>
    <tr>
      <th>Selecionado</th>
      <th>Id</th>
      <th>Titulo</th>
      <th>Ano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let filme of _filmes">
      <td>
        <input type="checkbox"
               name="filmeSelecionado"
               value="{{filme.id}}"
               [(ngModel)]="filme.selecionado"
               (click)="contador(filme.selecionado)" />
      </td>
      <td>{{ filme.id }}</td>
      <td>{{ filme.titulo }}</td>
      <td>{{ filme.ano }}</td>
    </tr>
  </tbody>
</table>
